1) Use for, .split () and if to create an operator that will print words starting with 't':

In [1]:
st = 'Print only the words that start with t in this sentence'
list_st = st.split()
for i in list_st:
    if i[0] == 't':
        print(i)

# Код

the
that
t
this

2) Use Range () to print all even numbers from 0 to 10. (Do not use operators for, While, if)

In [21]:
# Код
print(*range(2,10,2))
print(list(range(2,10,2)))

2 4 6 8
[2, 4, 6, 8]

3) Complete ** List ** of all numbers from 1 to 50, which are divided into 3. (namely the list)

In [4]:
# Код
list_nums = [i for i in range(1, 51) if i%3==0]
print(list_nums)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

4) View the line below and, if the length of the word is even, bring “even!”

In [6]:
st = 'Print every word in this sentence that has an even number of letters'
list_st_2 = st.split()
for i in list_st_2:
    if len(i)%2==0:
        print("even")
    print("odd")
# Код

odd
odd
even
odd
even
odd
even
odd
even
odd
even
odd
odd
even
odd
even
odd
even
odd
even
odd
odd

5) Create a list of the first letters of each word in a line below:

In [7]:
st = 'Create a list of the first letters of every word in this string'
list_st_3 = st.split(' ')
list_first_letters = []
for i in list_st_3:
    list_first_letters.append(i[0])
print(list_first_letters)
# Код

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

6) Find the amount of numbers in the list below: (with two ways)

In [9]:
l = [1,2,3,4,5,6,7,8,9,10]
print(len(l))
# Код 1

10
10

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
counter = 0
for i in l:
    counter+=1
print(counter)
# Код 2

7) Write the program on Python to multiply all the elements in the list.

In [10]:
l = [2,5,7,3,9]
mupltiple = 1
for i in l:
    mupltiple*=i
print(mupltiple)
# Код

1890

8) Write the program on Python to get the largest number from the list.

In [11]:
l = [2,5,7,3,9,11,50,101]
large_num = l[0]
for i in range(1, len(l)):
    if large_num < l[i]:
        large_num = l[i]
print(large_num)
# Код

101

9) Write the program on Python to find common elements from two lists.

In [14]:
team_1 = ["Darkhan", "Abilay", "Azamat", "Zhasulan"]
team_2 = ["Azamat", "Darkhan", "Aset", "Bolat","Saken"]
s1 = set(team_1)
s2 = set(team_2)
common = s1.intersection(s2)
print(common)
# Код

{'Darkhan', 'Azamat'}

10) Write the program on Python to expand the list without .Append ().

In [15]:
l_1 = [10,20,30]
l_2 = [1,2,3,4,5,6]
l_1.extend(l_2)
print(l_1)
# Вывод должен быть: [10,20,30,1,2,3,4,5,6]
# Код

[10, 20, 30, 1, 2, 3, 4, 5, 6]

11) Write the program on Python to summarize all the elements in the dictionary.

In [17]:
my_dict = {'data1':100,'data2':-54,'data3':247}
sum = 0
for i in my_dict.values():
    sum+=i
print(sum)
# Код

293

12) Write the program on Python to get the maximum and minimum value in the dictionary.

In [20]:
my_dict = {'data1':100,'data2':-54,'data3':247}
# Код
counter = 0
for i in my_dict.values():
    if counter == 0:
        min = i
        max = i
    if min > i:
        min = i
    if max < i:
        max = i
    counter+=1
print(min)
print(max)

-54
247

13) Write the program on Python to find those numbers that are divided by 7 and are multiple 5, between 1500 and 2700 (both are included).

In [21]:
list_nums = [i for i in range(1500, 2001) if i%7==0 and i%5==0]
print(list_nums)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

14) Write the program on Python to count the number of even and odd numbers from a series of numbers.

In [23]:
numbers = (10,11,12,13,14,15,16,17,18,19,20)
count_odd = 0
count_even = 0
for i in numbers:
    if i%2==0:
        count_even+=1
    elif i==0:
        continue
    else:
        count_odd+=1
print(count_odd)
print(count_even)
# Код

5
6

15) Write the program on Python to get a series of Fibonacci from 0 to 50.

In [19]:
def funct (num):
    if num == 1 or num ==0 or num==2:
        return 1
    return funct(num-1) + funct(num-2) 
count = 1 
arr =[]
while(True):
    fib = funct(count)
    if fib >50: break
    arr.append(fib)
    count+=1
print(arr)

[1, 1, 2, 3, 5, 8, 13, 21, 34]

16) Write the program on Python for calculating the age of the dog by dog ​​years. (For a given number 12, the conclusion should be 61 = 2x10.5+10x4)

** Note: During the first two years of a year, the dog is 10.5 human years. After that, every year the dog is 4 human years. **

In [9]:
num = int(input())
print(10.5*(num%10)+4*(num//10)*10)

10.5

17) Write the program on Python to convert the name of the month into the number of days.

In [10]:
d ={"January":31, "February":28, "March":31, "April":30, "May":31, "June":30, "July":31, "August":31, "September":30, "October":31, "November":30, "December":31}
month = input()
print(d[month])

31

18) Check whether the word is a palindrome or not.

** Note: The line is considered the palindrome if it is read the same in both directions. **

In [11]:
word = "aibohphobia"
word_rev = word[::-1]
if(word==word_rev):
    print("Yes")
else: print("No")
# Код

Yes

19) There are several students nearby, each of which has a certain number on the back. Students are going to divide into two teams, having counted them in two: those who are in even positions (based on 0) will go to team A, and those who are in an odd position will join the V. team

Your task is to calculate the difference between the sums of numbers written on the backs of students who will join the team A, and those who are written on the backs of students who join the team B.

In [12]:
students = [1, 11, 13, 6, 14, 10, 23, 25, 16, 23, 30, 9]
sum_o = 0
sum_e = 0
for i in students:
    if i %2 ==1:
        sum_o += 1
    else: sum_e+=1
print(sum_e - sum_o)
# Код

-2

20) Write the program on Python to find numbers from 100 to 400 (both are included), where each number of numbers is an even number. The resulting numbers must be printed in the sequence through a comma.

In [13]:
print({i for i in range(100, 400) if i%2==0})

{100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398}

# Great work!